<!-- home.ejs -->

<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Ana Sayfa</title>

  <link rel="stylesheet" href="/styles.css">

</head>

<body>

  <div class="container">

    <h1 class="title">Ana Sayfa</h1>

    <p>Merhaba, sa!</p>

    <a class="button" href="/logout">Çıkış Yap</a>

  </div>

</body>

 <style>
   
   /* styles.css */

.container {

  width: 100%;

  max-width: 400px;

  margin: 0 auto;

  padding: 20px;

}

.title {

  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;

}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #7289DA;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;

}
   
 </style>
  
</html>

